extends layout-usr

block main

    section.cash
        .valorCash
            p.txtValor 00,00
          .valorOk
            img.valor(src='img/valor.png', alt='valor')
        .credito
          img(src='img/credito.png', alt='')
        section.boxTexto3
          .title.title2
            h5 1. Adicionar credito
          .corpo2
            form(action='/addCredit')
              input(type='hidden', name='fullKey', id='fullKey')
              .valueCred
                label
                    img(src='img/dez.png', alt='10')
                    input.radioVal(name='price', type='radio')
              .valueCred
                label
                    img(src='img/vinte.png', alt='20')
                    input.radioVal(name='price', type='radio')
              .valueCred
                label
                    img(src='img/cinq.png', alt='50')
                    input.radioVal(name='price', type='radio')
              .totDeb1 Total a ser creditado
              .totCarga1 R$ 70,00
          .btnFin
            a(href='#')
              img(src='img/btnFin.png', alt='')