extends layout-usr
block main
    section.conect
        .boxFace
            a(href='https://www.facebook.com/dialog/oauth?client_id=118773068319648&redirect_uri=https://itaipava.tolabs.us/add')
              img(src='img/facebook.png', alt='facebook')
          .boxConnect
            .titCon
              img(src='img/connect.png', alt='connect')
            //
               <div class="boxTex"><p class="textoCon">Pra não perder tempo e já partir pro bar, faça seu cadastro usando seu Facebook ou Twitter. <span>Ou use seu email</span></p></div>
               
          .boxTwi
            a(href='#')
              img(src='img/twitter.png', alt='twitter')
