extends layout-bar
block main

  .b
    img.bar(src='/img/nomeBar.png', alt='brasao')
  section.boxTexto4
    .title.title2
      h5 Bem-vindo!
    .corpo
      p.textGravata Passe a gravata no leitor
  .borderBar

