extends layout-bar
block master

  case section
    when 1
      #compra_ok
        #debitados
          p= 'R$ ' + price
        #saldo
          p= 'R$ ' + credit
      script
        setTimeout("location.href = '/bar';",2000);
    when 0
      #erro_compra
        #erro_saldo
          p= 'R$ ' + credit
      script
        setTimeout("location.href = '/bar';",2000);

    default
      #leitor
        form(action='/bar', method='post')
          input.fb-id(type='hidden', name='fbId', id='fbId')
          input#leitor_input(id='gravata', type='text', name='gravata', autocomplete='off')
