extends layout-bar
block main

  .bras
    img.brasao(src='img/brasaoBot.png', alt='brasao')
  section.boxTexto2
    .title.title2
      h5 Bem vindo!
    .corpo
      form(action='/add', method='post')
        input.fb-id(type='hidden', name='fbId', id='fbId')
        input.nroCard1(id='gravata', type='text', name='gravata', autocomplete='off')
      p.duvida Passe sua gravata pelo leitor

  .border