!!! 5
html
  head
    meta(charset='utf-8')
    script(src='/js/jquery/jQuery1.9.1.js')
    script(src='/js/gsap/plugins/CSSPlugin.min.js')
    script(src='/js/gsap/TweenLite.min.js')
    //
       Cuffon fonts 
    script(src='/js/cuffon/cuffon.js', type='text/javascript')
    script(src='/js/cuffon/Deming_EP_400.font.js', type='text/javascript')
    script(src='/js/cuffon/Cubano_400.font.js', type='text/javascript')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/site.css')
    script(type='text/javascript')
      // Faz as substituições das fontes ao carregar a página. Cada vez que houver mudança dos textos (valores, etc)
      // o script deverá ser rodado
      function updateFonts() {
      Cufon.replace($('#balance_modal_value'), { fontFamily: 'Deming EP'});
      Cufon.replace($('#user_name'), { fontFamily: 'Cubano'});
      Cufon.replace($('#user_balance'), { fontFamily: 'Deming EP'});
      }
      function doFacebookLogin(evt) {
      if (evt) evt.preventDefault ();
      // Colocar FB.login() aqui!
      console.log("FAZER LOGIN DO FACEBOOK AQUI");
      // trocar o botão para "logout" depois de fazer o login no Facebook:
      $(".login_btn img").attr("src", "assets/home/logout.png");
      }
      function showConnectDiv() {
        location.href = '/site/connect';    
      }
      $(document).ready(function() {
      $("#login_btn").click(showConnectDiv);
      // Over na imagem do botao do Facebook
      /*$("#fb_btn").mouseover(function() {
      $("#fb_btn").html('<img src="assets/connect/FB_buttom_over.png" width="165" height="186"/>');
      $('#fb_btn').removeClass('facebook_btn_normal');
      $('#fb_btn').addClass('facebook_btn_over');
      });
      $('#fb_btn').mouseout(function() {
      $("#fb_btn").html('<img src="assets/connect/FB_buttom.png" width="155" height="176"/>');
      $('#fb_btn').removeClass('facebook_btn_over');
      $('#fb_btn').addClass('facebook_btn_normal');
      });
      */
      $('#fb_btn').click(doFacebookLogin);
      updateFonts();
      });
  body
    #page
      #master
        div#fb-root
        block master

  script(src='/js/fbapp.js', type='text/javascript')
