extends layout-usr

block main

    section.cash
        .valorCash
            p.txtValor 20,00
          .valorOk
            img.valor(src='img/valor.png', alt='valor')
        .bras
          img.brasao(src='img/brasaoBot.png', alt='brasao')
        section.boxTexto1
          .title.title2
            h5 Agora e so curtir
          .corpo
            p.textCash Sua Gravata 100% está cadastrada e você já tem um crédito de:
            h2.totCash R$ 20,00
            p.textCash
              | Escolha seu bar preferido, convide a galera e aproveite! Mas lembre-se de beber com moderação e, se beber, não dirija.
        .border
