extends layout-usr

block main

    section.boxTexto4
        .title.title2
            h5 Ih, Rapaz!
          .corpo
            p.textCash
              | O saldo da sua Gravata 100% é insuficiente. Mas calma, é só acessar o site e recarregar os créditos.
            p.textCash Seu saldo atual é de:
            h2.totCash= 'R$ ' + credit
