extends layout-bar
block main

  .bras
    img.brasao(src='img/brasaoBot.png', alt='brasao')
  section.boxTexto2
    .title.title2
      h5= fbName
      .corpo
        p.textCash Foram debitados:
        h2.totCash R$ 3,00
        p.textCash da sua gravata, mas você ainda tem um crédito de:
        h2.totCash= 'R$ ' + credit
        p.textCash
          | aproveite! Mas lembre-se de beber com moderação e, na hora de ir embora, chame um táxi.
  .border