/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
        font-family: 'DemingEP';
        font-style: normal;
        font-weight: normal;
        src: url("fonts/DemingEP.ttf");
}

@font-face {
        font-family: 'GoodLight';
        font-style: normal;
        font-weight: normal;
        src: url("fonts/GoodLig.pfm");
}

@font-face {
        font-family: 'Valencia';
        font-style: normal;
        font-weight: normal;
        src: url("fonts/ValenciaRegular.otf");
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
height: 945px;
    /*max-width: 1300px;*/
    background-color: #cfcbbc;
    background-image: url("../img/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.telamaior{
    height: 995px !important;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Container*/

.container{
    width: 800px;
    height: auto;
    margin: 0 auto;
}

/*header*/
.topPage{
    height: 460px;
}

.logo{
    float:left;
    width: 130px;
    height: 356px;
    margin-top: 33%;
    margin-left: 80px;
}

.login {
    margin-top: 27%;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100px;
    height: auto;
    float: left;
    border-top: 2px solid #dfdac7;
    border-bottom: 2px solid #dfdac7;
}

input[type=text], input[type=password]{
    border: 2px solid #dfdac7;
    padding: 15px;
    background-color: #8c1a19;
    margin: 0 0 10px 0;
    width: 66px;
/*    height: 5px !important;*/
    margin-bottom: 0px;
    color: #ded6c2;
    font-family: "Arial";
}

.nroCard1{
    width: 380px !important;
}
.nroCard{
    width: 542px !important;
}

form{
    margin-bottom: -2px;
}
label{
    border-left: 2px solid #dfdac7;
    border-right: 2px solid #dfdac7;
    height: 20px;
    font-size: 0.7em;
    padding-left: 5px;
    padding-top: 3px;
    font-family: "DemingEP";
    color: #d8d1bb;
    margin-bottom: 0px;
}

.enviar{
    margin-top: -2px;
    border: 2px solid #dfdac7;
    font-family: "DemingEP";
    font-size: 0.6em;
    color: #d8d1bb;
    padding-left: 15px;
    padding-top: 3px;
    display: block;
    cursor: pointer;
}


.menu{
    /*float: left;*/
    margin-top: 44%;
    margin-left: 135px;
}


.menu ul li{
    display: inline-block;
    width: auto;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #dfdac7;
    cursor: pointer;
    font-family: "DemingEP";
    font-size: 0.6em;
    color: #d8d1bb;
    margin-right: -6px;
}

.textos{
    width: 500px;
    margin-left: 250px;

}

.box1, .box2, .box3{
    float: left;
    width: 60px;
    padding-top: 30px;
    font-family: "Arial";
    font-size: 0.8em;
    margin-left: 20px;

}
.box2{
width: 120px;
margin-left: 80px;
}

.box3{
width: 140px;
margin-left: 50px;
}


.boxTexto{
    width: 440px;
    margin-left: 190px;
    margin-top: 100px;
    float: left;
}

.title{
    /*padding: 10px;*/
    border-top: 2px solid #202538;
    border-left: 2px solid #202538;
    border-right: 2px solid #202538;
    font-family: "DemingEP";
    font-size: 0.8em;
    padding-left: 10px;
    margin-bottom: -11px;
}

.title h5{
    border-right: 2px solid #202538;
    width: 200px;
}

.corpo, .corpo1, .corpo2{
    padding: 10px;
    border: 2px solid #202538;
        font-family: "Arial";
    font-size: 0.8em;
}
.corpo1{
    height: 290px;
}
.corpo2{
    height: 165px;
}

.logoIta{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 643px;
}

.btnCad{
    margin-top: 190px;
    margin-left: 10px;
}

.bg{
    background-color: #cfcbbc;
    background-image: url("../img/bgCo.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.bgBar{
    background-color: #cfcbbc;
    background-image: url("../img/bgBar.png") !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}
.conect{
    width: 600px;
    height: 200px;
    margin-left: 200px;
}

.titCon{
    font-family: "Valencia";
    font-size: 14em;
    color: #000;
    opacity: 0.4;
    padding-top: 70px;
}

.boxFace, .boxTwi, .boxConnect{
    float: left;
    height: 200px;
    width: 130px;
}
.boxTwi{
    padding-top: 50px;
}
.boxFace{
    padding-top: 35px;
}

.boxConnect{
    width: 320px;
    margin-top: -130px;
}
.boxTex{
    width: 130px;
    height: 80px;
    margin-top: -78px;
    margin-left: 170px;
}
.textoCon{
    font-size: 0.6em;
    font-family: "Arial";
}
.textoCon span{
    color:#841211;
}
.textCash{
    font-family: "Arial";
    font-size: 1em;
    text-transform: uppercase;
}
.totCash{
    font-family: "DemingEP";
    font-size: 1.2em;
    text-align: center;
}

.textGravata{
   font-family: "DemingEP";
    font-size: 1.1em;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.title2 h5{
    border-right: 2px solid #202538;
    width: 300px;
}
.border{
    border-bottom: 1px solid #841211;
    width: 337px;
    padding-bottom: 10px;
    margin-left: 291px;
}
.borderBar{
    border-bottom: 1px solid #841211;
    width: 337px;
    padding-bottom: 10px;
    margin-left: 340px;
}
.brasao{
    float: left;
    margin-left: 300px;
}

.bar{
    float: left;
    margin-left: 460px;
}

.boxTexto1, .boxTexto2 {
    width: 440px;
    margin-left: 240px;
    padding-top: 535px;
}

.valorOk{
        width: 800px;
        float:left;
        margin-bottom: 20px;
        margin-left: 241px;
        margin-top: -70px;
}
.valorCash{
    position: absolute;
    top:415px;
    left:525px;
}
.txtValor{
    font-family: "DemingEP";
    font-size: 2.3em;
    text-align: center;
    color: #d8d1bb;
}

.duvida{
padding-left: 238px;
}

/*Finalizar compra*/
.bandeira, .valCod, .bandeira2, .nomeCard{
    width: 100%;
    height: 20px;
    border-bottom: 2px solid #202538;
    font-family: "DemingEP";
    font-size: 0.6em;
    float: left;
}
.bandeira2, .nomeCard{
        border-top: 2px solid #202538;
        border-bottom:none;
        padding-top: 10px;
        height: 10px;
}
.nomeCard{
    border-top: none;
}
.valCod{
    width: 50%;
    height: 60px;
    float: left;
    border-top: 2px solid #202538;
    padding-top: 10px;
}
.card{
    float: left;
    width: 24%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 2px solid #202538;
}
.card img, .card4 img {
    padding-left: 10px;
    padding-right: 30px;
}

.card4{
        float: left;
    width: 24%;
    padding-top: 10px;
    padding-bottom: 10px;
        border-right: none;
}
.totDeb, .totDeb1{
    width: 60%;
    float: left;
    height: 30px;
        font-family: "DemingEP";
    font-size: 0.6em;
    border-top: 2px solid #202538;
    padding-top: 10px;
}

.totCarga, .totCarga1{
    width: 39%;
    float: left;
    font-family: "DemingEP";
    font-size: 0.8em;
    text-align: right;
        border-top: 2px solid #202538;
        padding-top: 10px;
}

.boxTexto3 {
    width: 600px;
    margin-left: 240px;
    padding-top: 535px;
}
.boxTexto4 {
    width: 420px;
    margin-left: 300px;
    padding-top: 535px;
}

.boxNro{
    padding-bottom: 10px;
}
.dtVal{
    width: 88% !important;
}
.message{
    width: 100%;
    float: left;
}

.credito{
    float: left;
    margin-left: 470px;
    padding-bottom: 20px;
    margin-top: -30px;
}
.btnFin{
width: 345px;
padding-left: 182px;
float: right;
}

.valueCred{
    float: left;
    width: 192px;
    padding-bottom: 20px;
}

.radioVal{
    margin-left: 92px !important;
}

.totDeb1{
    clear: both;
}

/*.layout {
    width: 0;
    height: 0;
border-top: 640px solid #9b1e1c;
border-bottom: 640px solid #cfcbbc;
border-left: 640px solid #9b1e1c;
border-right: 640px solid #cfcbbc;
}
*/













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

/*    tr,
    img {
        page-break-inside: avoid;
    }*/

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
