#master {
	width: 1366px;
	height: 768px;
}


.full_screen {
	width: 1366px;
	height: 768px;
}

/* HOME ***************************/
#home {
	position: absolute;
	background: url('../assets/home/home.jpg') no-repeat left top;
	display: block;
}

.login_btn {
	position: absolute;
	top: 169px;
	left: 364px;
	cursor: pointer;
}

.logout_btn {
	position: absolute;
	top: 169px;
	left: 364px;
	cursor: pointer;
	width: 161px;
	height: 25px;
}

#cadastrar_btn {
	width: 112px;
	height: 70px;
	position: absolute;
	top: 501px;
	left: 1010px;
	cursor: pointer;
}

/* CONNECT ***************************/
#connect {
	background: url('../assets/connect/connect_ref_position.jpg') no-repeat left top;
	display: none;
}
.facebook_btn {
	position: absolute;
	top: 303px;
	left: 342px;
	cursor: pointer;
	width: 165px;
	height: 186px;
	background: url(../assets/connect/FB_buttom.png) no-repeat center center;
}
.facebook_btn:hover {
	background: url(../assets/connect/FB_buttom_over.png) no-repeat center center;
}

#facebook_btn_over .over {
	position: absolute;
	top: 308px;
	left: 347px;
	cursor: pointer;
}

/* INSIRA NUMERO DO CARTAO ***************************/
#insira_numero_cartao {
	background: url('../assets/interna/base_numero_cartao.jpg') no-repeat;
	display: none;
}
#insira_numero_cartao input {
	background: none;
	width: 316px;
	height: 25px;
	position: absolute;
	top: 363px;
	left: 527px;
	text-align: center;
	color: #B4915B;
}
#insira_numero_cartao input:focus {
	outline: none;
}
#ok_btn {
	position: absolute;
	top: 430px;
	left: 650px;
	cursor: pointer;
}

/* TELA DE SALDO DO CHIP ***************************/
#tie_balance {
	background: url('../assets/interna/base.jpg') no-repeat left top;
	display: none;
}

#balance_modal {
	width: 320px;
	height: 203px;
	background: url('../assets/interna/modal_gravata_cadastrada.png') no-repeat left top;
	position: absolute;
	top: 282px;
	left: 525px;
	font-size: 13px;
}

#balance_modal_value {
	position: absolute;
	top: 120px;
	left: 1px;
	width: 316px;	
}

#balance_modal_value p {
	text-align: center;
}

#infos {
	position: absolute;
	width: 320px;
	height: 79px;
	top: 195px;
	left: 365px;
}
#user_name {
	position: absolute;
	width: 133px;
	height: 18px;
	color: #7A1B10;
	top: 4px;
	left: 15px;
	text-align: center;
	text-transform: uppercase;
}

#user_balance {
	position: absolute;
	width: 160px;
	height: 39px;
	color: #7A1B10;
	top: 39px;
	left: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

/* COMPRA DE CRÉDITOS ************************/
.credito_btn {
	position: absolute;
	top: 169px;
	left: 471px;
	width: 88px;
	height: 25px;
	cursor: pointer;
}
#escolher_valor {
	background: url('../assets/interna/base.jpg') no-repeat left top;
	display: none;
}

#valores_list {
	background: url('../assets/compra/compras.png') no-repeat left top;
	width: 778px;
	height: 256px;
	position: absolute;
	top: 224px;
	left: 356px;
}
#valor_escolhido {
	position: absolute;
	width: 95px;
	height: 21px;
	top: 239px;
	left: 667px;
	text-align: center;
	font-size: 11px;
}
#valor_mark {
	width: 34px;
	height: 17px;
}

.inv_btn {
	cursor: pointer;
}

.box_value {
	position: absolute;
	width: 252px;
	height: 138px;
}

#val_10 {
	top: 97px;
	left: 10px;
}

#val_20 {
	top: 97px;
	left: 260px;
}

#val_50 {
	top: 97px;
	left: 509px;
}

#valor_mark {
	width: 34px;
	height: 17px;
	background: url('../assets/compra/over.png') no-repeat left top;
	position: absolute;
	top: 218px;
	left: 226px;
}

#next_btn {
	position: absolute;
	top: 520px;
	left: 674px;
	cursor: pointer;
	width: 99px;
	height: 49px;
	background: url(../assets/compra/proximo.png) no-repeat center center;
}

#next_btn:hover{
	background: url(../assets/compra/proximo_over.png) no-repeat center center;
}

#infos_escolher_valor {
	position: absolute;
	width: 320px;
	height: 79px;
	top: 195px;
	left: 365px;
}

#user_name_escolher_valor {
	position: absolute;
	width: 133px;
	height: 18px;
	color: #7A1B10;
	top: 4px;
	left: 15px;
	text-align: center;
	text-transform: uppercase;
}

#user_balance_escolher_valor {
	position: absolute;
	width: 160px;
	height: 39px;
	color: #7A1B10;
	top: 39px;
	left: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

#select_PaymentCard{
	overflow: hidden;
	width: 754px;
	height: 285px;
	position: absolute;
	top: 224px;
	left: 356px;
	background-image: url(../assets/compra/cartao.png);
	display: none;
}

.numeroCartao{
	position: absolute;
	top: 160px;
	left: 5px;
	width: 746px;
	background-color: #952123;
	border-style: none;
	color: #d9ccba;
	text-transform: uppercase;
	font: 80% Arial;
}

.validadeCartao{
	position: absolute;
	top: 200px;
	left: 5px;
	width: 375px;
	background-color: #952123;
	border-style: none;
	color: #d9ccba;
	text-transform: uppercase;
	font: 80% Arial;
}

.codSegurancaCartao{
	position: absolute;
	top: 200px;
	left: 387px;
	width: 375px;
	background-color: #952123;
	border-style: none;
	color: #d9ccba;
	text-transform: uppercase;
	font: 80% Arial;
}

.nomeEscritoCartao{
	position: absolute;
	top: 237px;
	left: 5px;
	width: 754px;
	background-color: #952123;
	border-style: none;
	color: #d9ccba;
	text-transform: uppercase;
	font: 80% Arial;
}

.totalDebitadoCartao{
	position: absolute;
	top: 270px;
	left: 662px;
	font-size: 80%;
	line-height: 8px;
}

.btnsSelectCard{
	width: 1004px;
	height: 25px;
	top: 115px;
	position: absolute;
	left: 54px;
}

.btnsSelectCard div{
	width: 11px;
	height: 11px;
	background: url(../assets/compra/bulletOn.png) no-repeat;
	cursor: pointer;
	position: relative;
	float: left;
	margin-right: 174px;
	margin-top: 6px;
}

.btnsSelectCard div:hover{
	background: url(../assets/compra/bulletOver.png) no-repeat;
}

.btnsSelectCard div:nth-child(2){
	margin-right: 190px;
}

.btnsSelectCard div:nth-child(3){
	margin-right: 184px;
}

#buyOk {
	background: url('../assets/compra/gravata_carregada.png') no-repeat left top;
	display: none;
	width: 300px;
	height: 180px;
	left: 607px;
	top: 301px;
	border: 1px solid white;
	position: absolute;	
}













































